<launch>
    <node pkg="decentralized_comm" type = "navigation_sender_node" name="navigation_sender_node">
      <param name="server_ip" value="192.168.1.102"/>
      <param name="server_port" value="6666"/>
      <param name="connection_type" value="tcp"/>
      <!-- <param name="zmq_socket_type" value="dealer"/> -->
      <param name="robot_name" value="robot10"/>
      <!-- 等待回调时间 10s重发一次-->
      <param name="timeout_ms" value="10000"/> 
      <param name="max_retries" value="10"/> 
    </node>
    <node pkg="decentralized_comm" type = "robot_receiver_node" name="robot_receiver_node">
      <param name="server_ip" value="192.168.1.200"/>
      <param name="server_port" value="6666"/>
      <param name="connection_type" value="tcp"/>
      <!-- <param name="zmq_socket_type" value="dealer"/> -->
      <param name="robot_name" value="robot10"/>
      <!-- 等待回调时间 10s重发一次-->
      <param name="timeout_ms" value="10000"/> 
      <param name="max_retries" value="10"/> 
    </node>
</launch>