<launch>
  <!-- <include file="$(find aloam_velodyne)/launch/aloam_velodyne_HDL_32.launch">
	  <arg name="rviz" value="false"/>
  </include> -->
  <!-- 记得斜杠 -->
  <arg name="ns" default="robot1" />

  <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /world /map 10" />
  <node pkg="tf" type="static_transform_publisher" name="camera_to_link" args="0 0 -0.6 0 0 0 /body /base_link 10" />

  <!-- 接收目标的话题为/goal，这里决定 -->
<!-- <group ns="$(arg ns)"> -->
  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator">
      <!-- <remap from="~goal" to="/goal"/> -->
      <param name="waypoint_type" value="manual-lonely-waypoint"/>
      <param name="world_frame" value="/world"/>
      <!-- <param name="robot_frame" value="/body"/> -->
      <param name="odom_topic" value="/Odometry"/>
      <!-- 导航传入的目标点话题 -->
      <param name="goal_topic" value="/goal"/>
  </node>
<!-- </group>
<group ns="$(arg ns)"> -->
  <node pkg="putn" type="global_planning_node" name="global_planning_node" output="screen" required = "true">
      <remap from="~waypoints"       to="/waypoint_generator/waypoints"/>
      <!-- <remap from="~map"             to="/laser_cloud_map"/>  -->
      <remap from="~map"             to="/cloud_registered_body"/>

      <rosparam command="load" file="$(find putn)/config/for_real_scenarios/general.yaml"/>
  </node>
<!-- </group> -->

  <!-- <node pkg="putn" type="local_obs_node" name="local_obs_node" output="screen" required = "true">
      <remap from="~map"             to="/full_pc_map"/> 

      <param name="map/resolution"      value="0.1" />
      <param name="map/local_x_l"       value="-1.8"/>
      <param name="map/local_x_u"       value="1.8"/>
      <param name="map/local_y_l"       value="-1.8"/>
      <param name="map/local_y_u"       value="1.8"/>
      <param name="map/local_z_l"       value="-0.5"/>
      <param name="map/local_z_u"       value="0.4"/>
  </node> -->

  <!-- 高斯过程回归 -->
  <node pkg="gpr" type="gpr_path" name="gpr_path" output="screen" required="true">
      <param name="file/cfg_path" type="string" value="$(find gpr)/config/hyperparam.txt"/>
      <!-- <remap from="/global_planning_node/tree_tra"             to="$(arg ns)/global_planning_node/tree_tra"/>
      <remap from="/global_planning_node/global_path"          to="$(arg ns)/global_planning_node/global_path"/>
      <remap from="/surf_predict_pub"          to="$(arg ns)/surf_predict_pub"/> -->
  </node>

<!-- <group ns="$(arg ns)"> -->
<!-- 似乎并不需要实时接收位姿 -->
  <!-- <node name="local_planner" pkg="local_planner" type="local_planner.py">

  </node>
  <node name="controller" pkg="local_planner" type="controller.py">

  </node> -->
<!-- </group> -->
</launch>
