<launch>
    <node pkg="octomap_server" type = "octomap_server_node" name="octomap_server">

        <param name ="resolution" value="0.05" />
        <param name = "frame_id" type="str" value="camera_init" />
        <!-- 机器人frameid -->
        <param name = "base_frame_id" type="str" value="body" />
        <!-- <param name = "frame_id" type="str" value="map" /> -->
        <param name = "sensor_model/max_range" value="20000.0" />
        <!-- 传感器击中概率 -->
        <!-- 如果残影过多，就调高hit，调低miss 默认是0.7和0.4 -->
        <param name = "sensor_model/hit" value="0.9" />
        <!-- <param name = "sensor_model/hit" value="0.7" /> -->
        <!-- 传感器未击中概率 -->
        <param name = "sensor_model/miss" value="0.2" />
        <!-- <param name = "sensor_model/miss" value="0.4" /> -->
        <param name = "latch" value="true" />

        <!-- <param name = "pointcloud_max_x" value="5" />
        <param name = "pointcloud_min_x" value="-5" />

        <param name = "pointcloud_max_y" value="5" />
        <param name = "pointcloud_min_y" value="-5" /> -->

        <param name = "pointcloud_max_z" value="0.0" />
        <param name = "pointcloud_min_z" value="-1.0" />
        <!-- 可以经过的角度限制 -->
        <param name = "angle_limit" value="45.0" />
        <!-- 可以经过的平坦度限制 -->
        <!-- <param name = "flatness_limit" value="0.048" /> -->
        <!-- <param name = "flatness_limit" value="5.0" /> -->
        <param name = "flatness_limit" value="5.0" />
        <param name = "w1" value = "0.8"/>
        <param name = "neighbor_num" value="2"/>
        <!-- <param name = "neighbor_num" value="2"/> -->
        <!-- 是否即时更新点云 如果场景不太在意动态影响，选择false就好 -->
        <param name = "delete_previous_pc" value="true"/>
        <!-- 可以设置为远处更新大，近处更新小，因为雷达会上下浮动 -->
        <!-- 更新点云的半径 室外需要尽量大一点 上次可行为30米 1米-->
        <param name = "delete_previous_pc_range" value="2.5"/>
        <!-- 更新点云的内半径 就是进入这个半径的点云就不再更新了 -->
        <param name = "delete_previous_pc_inner_range" value="2.0"/>
        <param name = "save_range" value="3"/>
        <param name = "filter_ground" value="false" />
        <!-- 平面拟合范围 -->
        <param name = "fit_plane_num" value="3"/>
        <!-- 截取输入点云 -->
        <param name = "delete_out_of_range_pc" value="true"/>
        <param name = "delete_out_of_range_pc_range" value="10"/>

        <!-- 计算占据地图时 保留z轴的范围 -->
        <param name = "min_z_occ" value="-1.20"/>
        <param name = "max_z_occ" value="-0.5"/>
        <!-- <remap from ="cloud_in" to="/cloud_registered" /> -->
        <remap from ="cloud_in" to="/cloud_registered_body" />
        <!-- <remap from ="cloud_in" to="/ouster/points" /> -->
        <!-- <remap from ="cloud_in" to="/navigation_map" /> -->
        <!-- 重映射话题 -->
        <remap from="/projected_map" to="/map" />
        <!-- 是否删除噪声点 -->
        <param name = "if_delete_outs" value="true"/>
        <!-- 噪声点考虑的邻居节点数量 -->
        <param name = "mean_k" value="20"/>
        <!-- 噪声点阈值 越小越严格 -->
        <param name = "stddev_mul_thresh" value="0.10"/>
        <!-- 是否过滤2D地图 -->
        <param name = "if_delete_2d" value="true"/>
        <!-- 周围的未知点数量，如果小于这个数量，那么修改 -->
        <param name = "min_unknown_count" value="3"/>
        <!-- 周围的障碍物点数量，如果小于这个数量，那么修改 -->
        <param name = "min_neighbor_count" value="1"/>
        <!-- 是否使用z轴平面拟合，如果使用，那么墙面识别就会很糟糕，但是室外场景的噪声会大幅度下降 -->
        <param name = "plane_fit" value="false"/>
        <!-- 平面拟合时，考虑的点最高相对高度，就是考虑这个点上下 plane_fit_z_min 到 plane_fit_z_max 的点 -->
        <param name = "plane_fit_z_max" value = "0.3"/>
        <param name = "plane_fit_z_min" value = "-1.5"/>
        <!-- 是否膨胀地图障碍物 让障碍物更紧密 -->
        <param name = "expand_map" value = "true"/>
        <!-- 膨胀障碍物点的半径 -->
        <param name = "expand_size" value = "2"/>
    </node>
</launch>