<launch>

    <!-- 3D navigation -->
    <arg name="use_3d_navigation" default="false"/>

    <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base1" output="screen" clear_params="true" args="/map:=prior_map /odom:=Odometry"> -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" args="/odom:=Odometry">
        <rosparam file="$(find scout_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find scout_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find scout_navigation)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find scout_navigation)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find scout_navigation)/param/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find scout_navigation)/param/global_planner_params.yaml" command="load" />
    </node>

    <node pkg="scout_navigation" type="trans_tf_2d" name="trans_tF_2d" />
    <!-- <node pkg="sentry_nav" type="trans_tf_2d_odom" name="trans_tF_2d_odom" />
    <node pkg="sentry_nav" type="trans_odom_2d" name="trans_odom_2d" /> -->
	<!-- <include file="$(find velocity_smoother_ema)/launch/velocity_smoother_ema.launch"> -->

    <!-- loalization-->
    <!-- <node pkg="scout_navigation" type="global_localization.py" name="global_localization" output="screen" /> -->

	<!-- transform  fusion-->
    <!-- <node pkg="scout_navigation" type="transform_fusion.py" name="transform_fusion" output="screen" /> -->


    <include file="$(find scout_navigation)/launch/PointsCloud2Laserscan.launch" />

    <include file="$(find scout_navigation)/launch/Pointcloud2Map.launch" />

    <include file="$(find scout_bringup)/launch/scout_mini_robot_base.launch" />
    <!-- 3D导航启动节点 -->
    <include if="$(arg use_3d_navigation)" file="$(find putn_launch)/launch/bringup.launch"/>
    <!-- <include file="$(find putn_launch)/launch/bringup.launch"/> -->
    
    <!-- 发布一个雷达body到机器人足端body_foot的静态映射 -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub_1" args="0 0 0 0 0 0 body body_foot" /> -->
	<!-- 发布一个雷达初始位置camera_init到机器人足端初始位置body_init的静态映射 -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub_2" args="0 0 0 0 0 0 camera_init robot_foot_init" /> -->

	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub_1" args="0 0 0 0 0 0 map camera_init" />

	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub_2" args="0 0 0 0 0 0 body os_sensor" /> -->
	<node pkg="tf" type="static_transform_publisher" name="tf_pub_2" args="0 0 0 0 0 0 body os_sensor 10" />



</launch>
